<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="info" xsi:type="File"
        layout="${longdate} ${message}"
        fileName="${basedir}/Logs/InfoLog-${shortdate}.txt"
        archiveFileName="${basedir}/Logs/InfoLog-${shortdate}.{#####}.txt"
        archiveAboveSize="1024000"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        deleteOldFileOnStartup="true"
        keepFileOpen="false"
        encoding="iso-8859-2"  />

    <target name="error" xsi:type="File"
        layout="${longdate} ${message}"
        fileName="${basedir}/Logs/ErrorLog-${shortdate}.txt"
        archiveFileName="${basedir}/Logs/ErrorLog-${shortdate}.{#####}.txt"
        archiveAboveSize="1024000"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        deleteOldFileOnStartup="false"
        keepFileOpen="false"
        encoding="iso-8859-2"  />

    <target name="debug" xsi:type="File"
        layout="${longdate} ${message}"
        fileName="${basedir}/Logs/DebugLog-${shortdate}.txt"
        archiveFileName="${basedir}/Logs/DebugLog-${shortdate}.{#####}.txt"
        archiveAboveSize="1024000"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        deleteOldFileOnStartup="false"
        keepFileOpen="false"
        encoding="iso-8859-2"  />
  </targets>

  <rules>
    <logger name="*" maxlevel="Warn" writeTo="info" />
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Debug" writeTo="debug" />
  </rules>
</nlog>